flows.json
[{"id":"9ee943a1.7a8ea","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"60126f99.758a2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8562e60.7f4aa18","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ebd7d8b5.ff2788","type":"ui_group","z":"","name":"Default","tab":"8562e60.7f4aa18","order":1,"disp":true,"width":"6","collapse":false},{"id":"5457d017.bb3f5","type":"function","z":"9ee943a1.7a8ea","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\n//following are required to receive a token\nvar apikey=\"Eol_c9Qtwxh2C5IrPRzS_92RiB6gqhR-4YISWfnS5XiF\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["75768bcb.fe4634"]]},{"id":"307a714a.f8bd8e","type":"http request","z":"9ee943a1.7a8ea","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/ec0501fb-e4c8-4a0e-b0be-04910027d1d1/deployments/bd98a387-b2bb-49fa-8d04-6e1b2d0c2ae5/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["9316f420.294178","79050d59.ec16d4"]]},{"id":"e5cd9b03.da42e8","type":"debug","z":"9ee943a1.7a8ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":280,"wires":[]},{"id":"79050d59.ec16d4","type":"function","z":"9ee943a1.7a8ea","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["e5cd9b03.da42e8","cdf82776.e10418"]]},{"id":"9316f420.294178","type":"debug","z":"9ee943a1.7a8ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":160,"wires":[]},{"id":"3d9e9d4.90f1862","type":"function","z":"9ee943a1.7a8ea","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"ec0501fb-e4c8-4a0e-b0be-04910027d1d1\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['Status','Adult Mortality','infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',\n        'BMI', 'under-five deaths', 'Polio', 'Total expenditure',\n       'Diphtheria', 'HIV/AIDS','thinness  1-19 years',\n       'thinness 5-9 years', 'Income composition of resources', 'Schooling'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["307a714a.f8bd8e"]]},{"id":"75768bcb.fe4634","type":"http request","z":"9ee943a1.7a8ea","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["3d9e9d4.90f1862"]]},{"id":"cdf82776.e10418","type":"ui_text","z":"9ee943a1.7a8ea","group":"ebd7d8b5.ff2788","order":1,"width":0,"height":0,"name":"","label":"Predicted Life Expectancy:","format":"{{msg.payload}}","layout":"col-center","x":780,"y":400,"wires":[]},{"id":"c13977ff.f4c4c8","type":"ui_form","z":"9ee943a1.7a8ea","name":"","label":"","group":"ebd7d8b5.ff2788","order":0,"width":0,"height":0,"options":[{"label":"Current Age","value":"r","type":"number","required":true,"rows":null},{"label":"Country","value":"q","type":"text","required":true,"rows":null},{"label":"Status(Developing/Developed)","value":"a","type":"switch","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"Infant deaths","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"d","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"e","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"f","type":"number","required":true,"rows":null},{"label":"BMI [W(kg)/H^2(m^2)]","value":"g","type":"number","required":true,"rows":null},{"label":"Under-five deaths","value":"h","type":"number","required":true,"rows":null},{"label":"Polio","value":"i","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"k","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"l","type":"number","required":true,"rows":null},{"label":"Thinness(1-19 years)","value":"m","type":"number","required":true,"rows":null},{"label":"Thinness (5-9 years)","value":"n","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"o","type":"number","required":true,"rows":null},{"label":"Schooling","value":"p","type":"number","required":true,"rows":null}],"formValue":{"r":"","q":"","a":false,"b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["5457d017.bb3f5"]]}]